<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791592673788-vr6se4nopgjhomgi266v1vohddrtin87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791592673788-vr6se4nopgjhomgi266v1vohddrtin87</string>
	<key>API_KEY</key>
	<string>AIzaSyAolkpHFLaApFfzH9TDpGVhmNxE9HYRZ24</string>
	<key>GCM_SENDER_ID</key>
	<string>791592673788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>social-3c24f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-3c24f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791592673788:ios:1e5fc7eba269564d92d279</string>
</dict>
</plist>